PORT=8000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=ledger
DB_PASSWORD=ledger
DB_NAME=pattern_ledger

NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
NAVER_CALLBACK_URL=http://localhost:8000/auth/naver/callback
